.header {
    display: flex;
    margin: 0, auto;
    background-color: aqua;
    width: 100%;
    height: 92px;
    padding: 0%;
}

* {
    margin: 0 auto;
}

.mid {
    text-align: center;
    display: flex;
}

.footer {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    height: 200px;
}

.early-access-section {
    width: 100%;
    height: 200px;
    background-color: darkgoldenrod;
    text-align: center;
}

.brain-section {
    display: flex;
    background-color: chartreuse;
    width: 100%;
    height: auto;
}

#access {
    background-color: darkcyan;
    width: 200px;
}

access:hover {
    background-color: yellow;
    font-size: small;
}

#ul {
    display: inline;
}

.notes-section {
    background-color: deeppink;
    text-align: center;
}

.card-file {
    display: flex;
}

.card {
    background-color: aqua;
    border: 40 40;
}