.header {
    display: flex;
    margin: 0, auto;
    background-color: aqua;
    width: 100%;
    height: 92px;
    padding: 0%;
}

* {
    margin: 0 auto;
}

.mid {
    text-align: center;
    display: flex;
}

