.nav {
    display: flex;
    margin: 0, auto;
    background-color: aqua;
    width: 100%;
    height: 100px;
    padding: 0%;
}

* {
    margin: 0 auto;
}

.mid {
    text-align: center;
    display: flex;
}

.footer {
    display: flex;
    width: 100%;
    height: 200px;
}
.copy{background-color: blueviolet;
text-align: center;}

.early-access-section {
    width: 100%;
    height: 200px;
    background-color: darkgoldenrod;
    text-align: center;
}

.brain-section {
    display: flex;
    text-align: center;
    

   
}

#access {
    background-color: darkcyan;
    width: 200px;
}


.text{display: flex;}

.notes-section {
    background-color: deeppink;
    text-align: center;
    width: 100%;
    height: 300px;
}

.card-file {
    display: flex;
    text-align: center;

}


h6 {
    color: rgb(12, 10, 10);
    text-align: center;

}

h2 {
    color: darkred;
    text-align: center;
}

.button {
    background-color: green;
    cursor: pointer;
}
.banner{background-image: url(./assets/hero-bg.png);
text-align: center;
width: 100%;}
span{color: rgb(0, 139, 69);}
h1{ color: antiquewhite;}
h3{color:rgb(0, 139, 69) ;}
ul{color: chocolate;}
